#header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f1f2e4;
    color: #01122e;
    height: 48px;
}

#header>img {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

#header>:first-child {
    margin-right: 8px;
}

@media screen and (max-width: 600px) {
    #header>#catchline {
        display: none;
    }

    #header>img {
        height: 40px;
        width: 40px;
    }
}