<!DOCTYPE html>
<html lang="us">

<head>
    <link rel="stylesheet" href="./../../css/reset.css">
    <link rel="stylesheet" href="./../../css/fonts.css">
    <link rel="stylesheet" href="./../../css/common.css">
    <link rel="stylesheet" href="./../../css/settings.css">

    <script type="text/javascript" src="./../../js/modules/showdown.min.js"></script>
    <script type="text/javascript" src="./../../js/modules/dompurify.min.js"></script>
    <script type="text/javascript" src="./../../js/modules/twemoji.min.js"></script>

    <script src="./../../js/footerStyle.js" defer></script>
    <script src="./../../js/emojis.js" defer></script>
    <script src="./../../js/pages/settings.js" type="module"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chargement...</title>
</head>

<body>
    <main id="main" style="display: none;">
        <button id="logout">Log out</button>
        <button id="delete">Delete the account</button>
    </main>
</body>

<%- include('partials/footer') %>

</html>