<footer id="footer" style="display: none;">
    <ul>
        <li><a href="/">Main page</a></li>
        <li><a href="">Donate</a></li>
        <li><a href="https://github.com/xefyr675/discord-bio-links/tree/main">Source code</a></li>
        <li><a href="/guide">Markdown guide</a></li>
        <li><a href="/settings">Settings</a></li>
    </ul>
</footer>